<% page_title = "美容院詳細" %>
<h1><%= page_title %></h1>

<h2>情報</h2>
<table class="attr">
  <tr>
    <th>店舗名</th>
    <td><%= @salon.name %></td>
  </tr>
  <tr>
    <th>所在地</th>
    <td><%= @salon.prefecture %><%= @salon.adress %></td>
  </tr>
</table>

<h2>所属スタイリスト</h2>
<% if @stylists.present? %>
  <table class="list">
    <thead>
    <tr>
      <th>名前</th>
    </tr>
    </thead>
    <tbody>
    <% @stylists.each do |stylist| %>
      <tr>
        <td><%= stylist.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to "一覧に戻る", :admin_salons %>