<% @page_title = "スタイリスト情報の編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "一覧に戻る", :owner_stylists %></div>

<%= form_for [:owner, @stylist] do |form| %>
  <%= render "owner/shared/stylist_form", form: form %>
  <div><%= form.submit "更新" %></div>
<% end %>