<% @page_title = "美容院トップページ" %>
<h1><%= @page_title %></h1>

<%= render "owner/shared/login_form" unless current_owner %>
<% if current_owner && @salon %>
  <table class="attr">
    <tr>
      <th>店舗名</th>
      <td><%= @salon.name %></td>
    </tr>
    <tr>
      <th>オーナー</th>
      <td><%= @salon.owner&.name %></td>
    </tr>
    <tr>
      <th>所在地</th>
      <td><%= @salon.prefecture %><%= @salon.adress %></td>
    </tr>
    <tr>
      <th>お気に入り</th>
      <td>⭐︎<%= @salon.votes.count %></td>
    </tr>
  </table>
<% end %>