<table class="res">
  <!-- 隠しフィールド -->
  <%= form.hidden_field :customer_id, value: Customer.find_by(id: session[:customer_id]).id %>
  <%= form.hidden_field :reserved_time, value: @required_time %>
  <%= form.hidden_field :sum_price, value: @course.price %>
  <%= form.hidden_field :course_id, value: @course.id %>
  <%= hidden_field_tag "stylist_id", @stylist.id %>
  <thead>
  <tr>
    <th></th>
    <!-- 日付のヘッダーをシフトの範囲分作成 -->
    <% @shift_range.each do |date| %>
      <th><%= date.strftime("%m/%d") %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <!-- 時間の行を30分ごとに作成 -->
  <% @shift_is_free.length.times do |half_hour| %>
    <tr>
      <!-- 時間のセル -->
      <% time = Time.new(2024, 1, 1, half_hour / 2, (half_hour % 2) * 30) %>
      <th><%= time.strftime("%H:%M") %></th>
      <!-- 日付ごとのセル -->
      <% @shift_range.each_with_index do |date, day| %>
        <td>
          <!-- コースによって予約を入れる余地があるか判定 -->
          <% flag = true %>
          <% @required_time.times do |i| %>
            <% unless (half_hour + i < @shift_is_free.length) and @shift_is_free[half_hour + i][day][:is_free] %>
              <% flag = false %>
            <% end %>
          <% end %>
          <% if flag %>
            <!-- 予約した先頭のシフト -->
            <% shift = @shift_is_free[half_hour][day][:shift] %>
            <%= form.radio_button :reserved_date, shift.date_time %>
          <% else %>
            x
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>