<!DOCTYPE html>
<html>
  <head>
    <title>SalonNS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <div id="container">
      <header>
        <%=
          if controller.kind_of?(Admin::Base)
              render "admin/shared/header"
          elsif controller.kind_of?(Owner::Base)
              render "owner/shared/header"
          else
              render "shared/header"
          end
        %>
      </header>
      <main>
        <% if flash.notice %>
          <p class="notice"><%= flash.notice %></p>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
